/* variables */

:root {
    --my-color: rgb(0, 182, 248);
    --dark: rgb(38, 26, 26);
    --light-dark: rgb(34, 30, 30);
    --white: #ffff;
    --light-white: rgb(208, 208, 208);
}


/*-- All elements---*/